<div class="container">
  <div class="row">
    <div class="col s12">
      <img class=" card responsive-img" src="/images/bay.jpg">
    </div>
    <div class="col s12">
      <p class="card blue white-text">
        My name is Breon Knight. I really enjoy programming, reading manga, videogames, basketball, and eating seafood. I'm a big fan of
         the Final Fantasy and Resident Evil videogame series. Hunter x Hunter is currently my favorite manga series. I'm a huge nerd when it comes to
        synthesizers. My goal before 2017 is to purchase a diy synth kit.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <img class=" card responsive-img" src="/images/illusive.jpg">
    </div>
    <div class="col s12">
      <p class="card blue white-text">
        For music I go under the name illusive. I got to travel alot of awesome places because of it. I'm releasing my first album soon. This is a track from the album.
      </p>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/157295979&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <img class=" card responsive-img" src="/images/apollo.jpg">
    </div>
    <div class="col s12">
      <p class="card blue white-text">
        I'm a owner of a Chow Chow named Apollo. He's my heart :)
      </p>
    </div>
  </div>
</div>
