<div class="container blogs">
  <div class="row card white hero">
    <h4 class=" center-align card blue white-text z-depth-2 ">About Me</h4>
  </div>
  <div class="row">
    <div class="col s6 offset-s3">
      <img class=" card responsive-img" src="/images/bay.jpg">
    </div>
    <div class="col s6 offset-s3">
      <p class="card white">
        My name is Breon Knight. I really enjoy programming, reading manga, videogames, basketball, and eating seafood. I'm a big fan of
         the Final Fantasy and Resident Evil videogame series. Hunter x Hunter is currently my favorite manga series. I'm a huge nerd when it comes to
        synthesizers. My goal before 2017 is to purchase a diy synth kit.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s6 offset-s3">
      <img class=" card responsive-img" src="/images/apollo.jpg">
    </div>
    <div class="col s6 offset-s3">
      <p class="card white">
        I'm a owner of a Chow Chow named Apollo. He's my heart :)
      </p>
    </div>
  </div>
</div>
