<div class="container blogs">
  <div class="row">
    <div class="col s12 wrapped">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/perrrfect.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Perrrfect<i class="material-icons right">more_vert</i></span>
          <p><stong>Hosted Link: </strong><a href="https://perrrfect.herokuapp.com/">Perrrfect</a></p>
          <p><stong>Github Link: </strong><a href="https://github.com/BreonKnight/perrrfect/">Perrrfect Repo</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Perrrfect<i class="material-icons right">close</i></span>
          <p><strong>Description: </strong>
           The web apps purpose is to serve a hub for people who plays fighting games to practice combos or create combos. Created a product using material design. The technical accomplishment of this project was to understand issues that go into scaling a project up.
            <br>
            <br>
            <strong>Technologies Used: </strong>  Ruby on Rails, Javascript, jQuery,PostGresSQL, and Materialize CSS.</p>
        </div>
      </div>
    </div>
    <div class="col s12 wrapped">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/fleekingbeauty.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Fleeking Beauty<i class="material-icons right">more_vert</i></span>
          <p><stong>Hosted Link: </strong><a href="http://fleetingbeauty.herokuapp.com/">Fleeking Beauty</a></p>
          <p><stong>Github Link: </strong><a href="https://github.com/BreonKnight/fleeking_beauty">Fleeking Beauty Repo</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Fleeking Beauty<i class="material-icons right">close</i></span>
          <p><strong>Description: </strong>
              Users vote on photos of an unnamed place, judging whether they deem them to be
              "hot" or "not". We store users' vote data and display it visually using graphs. Responsible for creatinge users and serve data from the backend for D3
              visualizations and pair programmed with a team of 4 developers.
              <br>
              <br>
              <strong>Technologies Used: </strong> Ruby on Rails, Javascript, D3, Ajax, HTML, Bootstrap, Material Design,
              Ruby, PostgresSQL, CSS3
            </p>
        </div>
      </div>
    </div>
    <div class="col s12 wrapped">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/lanandplay.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Lan And Play<i class="material-icons right">more_vert</i></span>
          <p><stong>Hosted Link: </strong><a href="https://afternoon-refuge-8600.herokuapp.com/">Lan And Play</a></p>
          <p><stong>Github Link: </strong><a href="https://github.com/BreonKnight/lan-and-play">Lan And Play</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Lan And Play<i class="material-icons right">close</i></span>
          <p><strong>Description: </strong>
            Lan and Play is an application where many lan events are posted which a user
            can see and decided to go to. A user can post an event which posts to his/her profile page.
            Built back end database/web service and front end user-interface
            <br>
            <br>
            <strong>Technologies Used: </strong> Javascript, MongoDB, Node.js, Mongoose.js, Express.js, Passport auth,
            Handlebars.js, HTML, and CSS.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
