<div class="container blogs">
  <div class="row white">
    <div class="col s12">
      <%= form_for @blog do |f| %>
      <div>
        <%= f.text_field :title, placeholder: "Title" %>
      </div>
      <div>
        <%= f.text_area :body, placeholder: "Post" %>
      </div>
      <%= f.submit "New Post", class: "btn blue" %>
      <% end %>
    </div>
  </div>
</div>
