<div class="container blogs">
  <div class="row card white hero">
    <h4 class=" center-align card blue white-text z-depth-2 ">New Blog Post</h4>
  </div>
  <div class="row white">
    <div class="col s12">
      <%= form_for @blog do |f| %>
      <div>
        <%= f.text_field :title, placeholder: "Title" %>
      </div>
      <div>
        <%= f.text_area :body, placeholder: "Post" %>
      </div>
      <%= f.submit "New Post", class: "btn blue" %>
      <% end %>
  </div>
</div>
