<div class="container blogs">
  <div class="row">
    <h4 class=" center-align blue-text"><%= @blogs.title %></h4>
  </div>
  <div class="row">
    <div class="col s12 post">
      <div>
      <p class="black-text">
        <%= @blogs.body %>
      </p>
      </div>
    </div>
  </div>
</div>
