<div class="container blogs">
  <div class="row card white hero">
    <h4 class=" center-align card blue white-text z-depth-2 "><%= @blogs.title %></h4>
  </div>
  <div class="row white">
    <div class="col s12">
      <div>
      <p>
        <%= @blogs.body %>
      </p>
      </div>
    </div>
  </div>
</div>
