<div class="container blogs">
  <div class="row card white hero">
    <h4 class=" center-align card blue white-text z-depth-2 ">Blog</h4>
  </div>
  <div class="row">
    <% blog_posts.each do |blog| %>
    <div class="col s6">
      <h4 class="white-text"> <%= blog.title %> <small></small></h4>
      <p class="white-text">
        <%= blog.body %>
      </p>
    </div>
    <% end %>
  </div>
</div>
