/*
  * This is a manifest file that'll be compiled into application.css, which will include all the files
  * listed below.
  *
  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
  * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
  *
  * You're free to add application-wide styles to this file and they'll appear at the top of the
  * compiled file, but it's generally better to create a new file per style scope.
  *
  *= require_self
  *= require_tree .
*/

@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';

$black : #000;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $black
}

main {
  flex: 1 0 auto;
  background-color: $black;
  margin-top: 10px;

}

input.btn.blue{
  margin-top: 10px;
  margin-bottom: 10px;
}

p{
  font-family: 'Open Sans', sans-serif;
}
//new font
a{
  font-family: 'Open Sans Condensed', sans-serif;
}
